/* =======[ general ]======= */

html {
	font-size: 100%;
	font-family: $body;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $header-bold;
}
a {
	text-decoration: none;
}

.social {
	li {
		@include transition(all, 0.3s, ease-in-out);
		
		display: inline-block;
		width: 34px;
		height: 34px;
		background: $darkgrey;
		text-align: center;
		margin-right: 6px;
		
		> a {
			font-family: $icon !important;
			color: $white;
			display: block;
			height: 100%;
			padding-top: 10px;
		}
		&:hover {
			background: $green;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

hgroup.pagehead {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-bottom: 30px;
	position: relative;
	margin-right: -100px;
	padding-right: 100px;
	
	h1, h2 {
		text-transform: uppercase;
	}
	h1 {
		@include font-size(2);
		
		line-height: 2.1;
		padding-top: 10px;
		color: lighten($bodytext, 30);
	}
	h2 {
		@include font-size(.8);
		
		font-family: $header-light;
		letter-spacing: 1px;
		color: lighten($bodytext, 40);
		margin-top: -10px;
		display: inline-block;
		position: absolute;
		padding-right: 10px;
		top: 4px;
		left: 0;
		background: $white;
	}
}

.menu-trigger,
.video-ex {
	@include pointer;
}

/* =======[ layout ]======= */

.content {
	@include transition(border, 0.3s, ease-in-out);
	
	transition-delay: 0.5s;
	min-height: 100%;
	
	article.content-block {
		h1 {
			@include font-size(2.1);
			
			letter-spacing: 1px;
			color: $bodytext;
		}
		p {
			@include font-size(1);
			
			font-weight: 300;
			color: $bodytext;
			margin-bottom: 16px;
			line-height: 1.7;
		}
		strong {
			font-weight: 600;
		}
		blockquote {
			background: lighten($blue, 5);
			margin: 30px -100%;
			padding: 70px 100%;
			
			p {
				@include font-size(2);
				
				font-weight: 100;
				color: $white;
				position: relative;
				padding-left: 35px;
				margin-bottom: 0;
				
				&:before {
					@include font-size(2.5);
					
					font-family: $icon;
					content: '\f10d';
					position: absolute;
					left: -30px;
					top: -20px;
					color: rgba(0,0,0,0.4);
				}
			}
		}

		img.fullwidth {
			margin: 16px -64px;
			max-width: 133%;
			
			// media queries
			@include breakpoint($medium) {
				margin: 16px 0;
				max-width: 100%;
			}
		}
		
		// media queries
		@include breakpoint($medium) {
			width: 100%;
			height: auto;
			overflow-y: auto;
			padding: 32px 90px 64px;
		}
		@include breakpoint($small) {
			padding: 32px 32px 64px;
		}
	}// END article.content-block
	
	
	/* =======[ two-column content ]======= */
	
	.two-column {
		height: 100%;
	
		aside.side-image {
			@include content-column-left;

			height: 100%;
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			background-image: url('../../img/standin-sidebg.jpg');
			background-size: cover;
			
			// media queries
			@include breakpoint($medium) {
				width: 100%;
				height: 300px;
				position: relative;
			}
		}// END aside.side-image
		
		article.content-block {
			@include content-column-right;

			height: 100%;
			padding: 150px 64px 64px;
			overflow-x: hidden;
			overflow-y: scroll;
			
			// media queries
			@include breakpoint($medium) {
				width: 100%;
				height: auto;
				overflow-y: auto;
				padding: 32px 90px 64px;
			}
			@include breakpoint($small) {
				padding: 32px 32px 64px;
			}
		}// END article.content-block
	}// END .two-column
	
	
	/* =======[ full width content ]======= */
	
	.full-width {
		height: 100%;
		
		article.content-block {
			height: 100%;
			padding: 64px 96px;
			
			// media queries
			@include breakpoint($medium) {
				width: 100%;
				height: auto;
				overflow-y: auto;
				padding: 64px 90px 64px;
			}
			@include breakpoint($small) {
				padding: 80px 32px 64px;
			}
		}// END article.content-block
	}// END .full-width
	
	
	/* =======[ video background ]======= */

	.video {
		@include full-screen;
		display: table;

		a.video-ex {
			@include font-size(1.1);
			
			position: absolute;
			top: 12px;
			right: 12px;
			width: 45px;
			height: 45px;
			background: rgba(0,0,0,0.1);
			border: none;
			color: $light;
			text-align: center;
			line-height: 2.7;
			z-index: 100;
		}
		p.standin-text {
			@include font-size(5);
			
			color: rgba(255, 255, 255, 0.05);
			text-align: center;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -40px 0 0 -124px;
			transition: all 0.3s ease-in-out;
		}
		div.text-overlay {
			position: absolute;
			top: 50%;
			margin-top: -140px;
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			opacity: 1;
			-webkit-transform: scale(1);
			transition: all 0.3s ease-in-out;
			transition-delay: 0.2s;
			

			img.logo {
				width: 350px;
				margin-bottom: 20px;
			}
			p {
				@include font-size(1);
				
				font-weight: 300;
				line-height: 1.7;
				color: $white;
				padding-bottom: 48px;
				width: 600px;
				margin: 0 auto;
			}
			a {
				@include ghost-button($light, $dark, $light);
				
				&:last-child {
					margin-left: 20px !important;
				}
			}
		}
	}// END .video
	.video.video-expanded {
		p.standin-text {
			color: rgba(255, 255, 255, 1);
			@include transition(all, 0.8s, ease-in-out);
			@include scale(1.1);
		}
		a.fa-expand:before {
			content: "\f066";
		}
		div.text-overlay {
			opacity: 0;
			@include scale(1.1);
			@include transition(all, 0.3s, ease-in-out);
			z-index: -1;
		}
	}
}// END .content


/* =======[ page transitions ]======= */

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background: $white;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}


/* =======[ page loader ]======= */

.loading .pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.loading .pace-inactive {
  display: none;
}

.loading .pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.loading .pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}